body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-image: url('../img/pizza_background.jpg');
    background-size: cover;
    margin:0;
    padding:0;
}


div.circle{
    width: 600px;
    height:600px;
    background-color: white;
    border-radius: 50%;
    margin:auto;
    padding:20px;
    margin-top:50px;
    text-align: center;
}

div.illustration{
    width: 600px;
    height:450px;
    background: url('../img/pizza_robot.gif') no-repeat;
    background-size: 550px;
    margin-top:80px;
    margin-left: 20px;   
}

div.content{
    position: absolute;
    text-align: center;
    margin-left: 305px;
    margin-top:60px;
    width: 205px;
    height:165px;
}

div.text{
    margin-top:40px;
    height:100px;
    font-size: 24px;
}

div.button{
    margin:4px;
}

button{
    background-color:#44b649;
    border-radius:15px;
    padding: 15px;
    margin:2px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border:none;
}