body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-image: url('../img/pizza_background.jpg');
    background-size: cover;
    margin:0;
    padding:0;
}


div.circle{
    width: 600px;
    height:600px;
    background-color: white;
    border-radius: 50%;
    margin:auto;
    padding:20px;
    margin-top:50px;
    text-align: center;
}

div.illustration{
    width: 600px;
    height:450px;
    background: url('../img/pizza_robot.gif') no-repeat;
    background-size: 550px;
    margin-top:80px;
    margin-left: 20px;   
}

div.content{
    position: absolute;
    text-align: center;
    margin-left: 305px;
    margin-top:60px;
    width: 205px;
    height:165px;
}

div.text{
    margin-top:35px;
    /*height:80px;*/
    font-size: 20px;
    margin-bottom:10px;
}

div.button{
    margin:4px;
    padding-top: 5px;
    width: 200px;
    height:90px;  
}

button{  
    background-color:#44b649;
    border-radius:15px;
    padding: 10px;
    margin:2px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border:none;
}

.list_ingredients{
    height:100px;
    overflow-y: auto;
}

.btn_ingredient{
    cursor: pointer;
    background-color:#44b649;
    margin:2px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-bottom:1px solid white;
}

.btn_ingredient:hover{
    background-color:#308b34;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #bbb; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }